$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$rich-black: #1A181B;
$platinum: #353B3C;
$crimsonone: #BA2D0B;
$red: #FF1B1C;
$green: #00FF00;
$yellow: #FFFF00;


$primary: $crimsonone;
$secondary: $rich-black;
$body-tertiary-bg: #11171a;
$dark-bg-subtle: $gray-900;
$success: $green;
$info: $red;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: lighten($black, 3%);

$input-bg: #272b2e;
$input-color: #fff;
$form-check-label-color: $crimsonone